.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input::placeholder {
  color: red;
  font-size: 5px;
  font-style: italic;
}
.nav-item a{
  background-color: #494951;
  font-weight: bold;
  border: 1px solid #fff;
 
}
.nav-item a:hover {
  background-color: orange;
  text-decoration: none;
}
.costomer-imag{
  width: 100%;
}
.customor-main{
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
 
}
.customor-main-title{
  padding: 10px;
  background-color: orange;
  color: #fff;
  border-left: 12px solid red;
  text-align: center;
}
article{
  width:900px;
  float: left;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}
.customor-right{
  width: 230px;
  background-color: #fff;
  float: right;
  padding: 10px;
  margin-top: 20px;
}
.hidden-div{
  float: clear;
}
.gallery ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery ul li{
  width: 272px;
  margin: 0 30px 30px 0;
  padding: 10px 5px;
  border: solid 1px #ccc;
  float: left;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.gallery ul li:nth-child(3n){
  margin-right: 0;
}
.gallery ul li img{
  width: 200px;
  height: 200px;
}
.customer-article-title{
  background-color: #f0f0f0;
  color: #444999;
  text-align: center;
  margin:20px 0;
  padding: 6px 0;

}
@media screen and (max-width:767px) {
  .nav-item a{
    margin-right: 10%;
   
  }
}
